<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>expres page</title>
    </head>
    <body>
      {{> header}}
        <p>hey do you need some help, I cant give any</p>
    </body>
   {{> footer}}
</html>