<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Node And Abhishek</title>
    </head>
    <body>
      {{> header}}
        <p>{{Message}}</p>
    </body>
   {{> footer}}
</html> 